*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Acme', sans-serif;
  border-radius: 11px;
}

html,
body {
  font-weight: 300;
  line-height: 1.4;
  scroll-behavior: smooth;
}

#all_image{
  height: 100%;
  width: 100%;
}

h2,h4{
  text-align: center;
}

.space_traveller{
font-size:53px;
text-transform: uppercase;
text-align: center;
font-family: 'Tilt Prism', cursive;

}
span1{
  font-size: 18px;
}

a {
  text-decoration: none;
  
}

body {
  display: flex;
  gap: 10px;
}

header {
  height: 100vh;
  position: sticky;
  border: 2px solid #020202;
  background-color: rgb(181, 186, 185);
  padding:2px;
  margin: 2px;
  top: 0;
}
nav h1 {
  font-size: 1.5rem;
  font-weight: 300;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

nav ul {
  list-style: none;
}
nav ul li {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  color: black;
}
nav ul li:hover {
  background: #eae3e3;
  transition: 0.4s ease-in-out;
}

main {
  padding: 50px;
  border: 2px solid #020202;
  background-color: rgb(181, 186, 185);
  margin: 2px;
}

section {
  margin-bottom: 50px;
  scroll-margin: 50px;
}

section article {
  max-width: 1200px;
  font-size: 14px;
}
section h2 {
  font-size: 20px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

section article {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

section article ul {
  margin-left: 20px;
}
section article ul li {
  margin-bottom: 10px;
}

section article p {
  font-size: 14px;
  line-height: 1.6;
}

code {
  display: block;
  text-align: left;
  white-space: pre-line;
  line-height: 2;
  background-color: #f7f7f7;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}
button{
  padding: 6px;
background-color: rgb(134, 215, 112);
margin: 6px;
}

button:hover{
  cursor: pointer;
margin: 8px;
padding: 8px;
background-color: rgb(124, 231, 95);
transition: 0.4s ease-in-out;
}